<section>
  <p>
    The mortality crisis sweeping Russia displays a striking gender disparity where working age men
    bear most of the burden, the term "male mortality cirsis" was given to this trend. TODO: Figure
    X illustrates the dramatic gap between male and female death rates among the working-age
    population, with male mortality peaking at approximately 20 deaths per 1,000 in the mid-1990s.
    The mortality started delining after 2005 this could be a possible connection to the regulations
    introduced in 2006.
    <br>
    This gender disparity is further reflected in life expectancy figures. As
    shown in Figure Y, Russian men's life expectancy fell to a staggering 57.6 years in 1994,
    placing it below the world average and creating one of the largest gender gaps in life
    expectancy globally, with Russian women living approximately 10 years longer being comprable to
    the life of expectancy in developed nations.
  </p>

  <div style="display: flex; flex-direction: column; gap: 20px; margin: 2em 0">
    <div style="display: flex; align-items: center; justify-content: center">
      <img
        src="assets/img/mortality/death_rate_working_age.png"
        alt="Time series death rate plot for working age population"
        style="width: 80%; height: auto; border: 1px solid #ccc"
      />
    </div>
    <div style="font-size: 0.9em; color: #555; line-height: 1.5; text-align: center">
      <strong>Figure x:</strong> Average death rates among working age population (Age 18 - 65) per
      1,000 individuals in Russia by gender.
    </div>
  </div>

  <div style="display: flex; flex-direction: column; gap: 20px; margin: 2em 0">
    <div style="display: flex; justify-content: center">
      {% include plots/life_expectancy.html %}
    </div>
    <div style="font-size: 0.9em; color: #555; line-height: 1.5; text-align: center">
      <strong>Figure x:</strong> Life expectancy by gender and difference between life expectancy
      for women and men in Russia and selected countries. Click on the legend to hide/unhide
      countries.
    </div>
  </div>

  <p>
    In the introduction (Figure 1), we saw that Russia leads in alcohol-related deaths. According to
    official Russian statistics, alcohol-related deaths among working-age males accounted for around
    4-5% of all deaths during the peak in the 1990s. This was approximately five times lower than
    the leading cause of death—diseases of the circulatory system—which accounted for about 23%.
    It's important to note that alcohol-related deaths here refer only to those directly attributed
    to alcohol consumption under the ICD-10 classification. This excludes many indirectly related
    fatalities, such as traffic accidents. As a result, the actual number is higher; a case study in
    the early 2000s estimated that hazardous drinking contributed to 40% of all deaths in one
    Russian city (https://pubmed.ncbi.nlm.nih.gov/17574092/).
  </p>
  <div style="display: flex; flex-direction: column; gap: 20px; margin: 2em 0">
    <div style="display: flex; align-items: center; justify-content: center">
      <img
        src="assets/img/mortality/cause_percentage_of_total.png"
        alt="Percentage of total deaths by cause in Russia"
        style="width: 80%; height: auto; border: 1px solid #ccc"
      />
    </div>
    <div style="font-size: 0.9em; color: #555; line-height: 1.5; text-align: center">
      <strong>Figure x:</strong> Percentage of total deaths by alcohol-related and circulatory
      system disease causes in Russia. Alcohol-related causes include: Chronic alcoholism, alcoholic
      psychosis, encephalopathy, dementia, Alcoholic liver disease and Unintentional poisoning by
      alcohol (ICD-10 codes: F10, K70, X45). Diseases of the circulatory system include: Rheumatic
      heart disease, Hypertensive disease, Ischaemic heart disease, Cerebrovascular disease (ICD-10
      codes: I00-I99).
    </div>
  </div>
  <p>
    Figure x illustrates the correlation between alcohol consumption and mortality rates among working-age men
    in Russia from 1990 to 2021. The correlation is especially clear during three periods: a sharp rise after the Soviet collapse 
    (1991-1994), a brief dip during the 1998-1999 economic crisis, and a steady decline following alcohol control policies 
    after 2006 (Leon et al., 2009; Zaridze et al., 2014).
     
    After the Soviet Union collapsed in 1991, multiple men lost their jobs as factories closed and state-run industries were 
    shut down. Many experienced a loss of income and social status, 
    driving increased hazardous drinking as a coping mechanism (Tomkins et al., 2007). Cheap, non-beverage alcohols were
    often consumed, leading to poisoning and early death (Leon et al., 2009). During this time, women were more likely
    to work in education, healthcare, and the service sector. These fields were less severely affected by the collapse.
    Cultural norms also discouraged heavy drinking behavior in women, this reinforced the large gender gap in alcohol-related
    mortality (AIHA, 2015). Seven years later, the economic crisis temporarily reduced alcohol consumption among both men and women,
    mostly because of decreased affordability. However, harmful drinking resumed as soon as incomes recovered in the early 2000s. 
    Following the 2006 Alcohol Market Reforms by Russia's government that caused alcohol sales to decline, we see the same happen to
    consumption and mortality, evident from Figure x.
  </p>
  <div style="display: flex; flex-direction: column; gap: 20px; margin: 2em 0">
    <div style="display: flex; align-items: center; justify-content: center">
      <img
        src="assets/img/mortality/alcohol_consumption_men_mortality.png"
        alt="Alcohol Consumption vs Mortality Rates for Men"
        style="width: 80%; height: auto; border: 1px solid #ccc"
      />
    </div>
    <div style="font-size: 0.9em; color: #555; line-height: 1.5; text-align: center">
      <strong>Figure x:</strong> Alcohol consumption in liters of pure alcohol per capita vs
      mortality rates for working age men (18 - 65) per 1,000 population in Russa. Highlighted are
      the periods of the Soviet collapse (1991-1994), the introduction of alcohol control policies
      (2006).
    </div>
  </div>
</section>
