<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.32.0.min.js"></script>
  </head>
  <body>
    <div class="page-wrapper">
      {% include header.html %}

      <main class="mag-main">
        {{ content }}

        <article class="feature-article">
          <h2>Introduction</h2>

          <h3>Vala - Intro</h3>
          {% include vala.html %}

          <h3>Ástríður</h3>
          {% include astrid.html %}

          <h3>Andrej</h3>
          {% include andrej.html %}
          

          <section>
            <h2>Alcohol consumption</h2>
            <div class="chart" id="liters_per_inihibitant"></div>
          </section>
        </article>
      </main>

      {% include footer.html %}
    </div>

    <!---- scripts -->
    <script src="/assets/js/liters_per_inihibitant.js"></script>
    <script src="/assets/js/ppp_vs_consumption.js"></script>
  </body>
</html>
