<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.32.0.min.js"></script>
  </head>
  <body>
    <div class="page-wrapper">
      {% include header.html %}

      <main class="mag-main">
        {{ content }}

        <article class="feature-article">
          {% include vala.html %}
          {% include astrid.html %}
          {% include andrej.html %}
        </article>
      </main>

      {% include footer.html %}
    </div>

    <!---- scripts -->
    <script src="/assets/js/alcohol_sales_by_type.js"></script>
    <script src="/assets/js/vodka_vs_beer_ratio_shares.js"></script>
    <script src="/assets/js/vodka_vs_beer_prizes.js"></script>
    <script src="/assets/js/vodka_sales_regions.js"></script>
  </body>
</html>
